/*
Autor: Juan Carlos Rivera Poccomo
Web: http://starkcode.blogspot.com
*/
 
/* # cambiar estilo a error
============================================*/
.controls > .error {
    color: #9F2241;
    display: inline-block;
    *display: inline;
    padding-left: 5px;
    vertical-align: middle;
    *zoom: 1;
}
/* # estilo de pagina
============================================*/
.container  {
    width: 650px;
    margin: auto;
}
h2 {
    text-align: center;
}